* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #f5f5f5;
}

.container {
  max-width: 960px;
  margin: 20px auto;
  padding: 10px;
  display: grid;
  /* grid-template-columns: 100px 100px; */
  /* -- most commonly used are fractions -fr -- */
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* -- same can be written as -- */
  /* grid-template-columns: repeat(3, 1fr); */
  /* -- u can also make columns bigger -- */
  grid-template-columns: 1fr 2fr 1fr;
  /* -- column gap -- */
  /* column-gap: 10px; */
  /* -- row gap -- */
  /* row-gap: 10px; */
  /* -- combined -- */
  gap: 10px;
}

.item {
  background: steelblue;
  color: #fff;
  font-size: 20px;
  padding: 20px;
  border: skyblue 1px solid;
}
